<div class="bar"></div>

{% extends 'blog/base.html' %}
{% block content %}
<div class="articlecenter">
    <h3>Se connecter</h3>
    <br>
    {% if error %}
        <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
    {% endif %}

    {% if user.is_authenticated %}
        Vous êtes connecté {{ user.username }} !
        <br>
        <p class="sep"><a href="{% url 'accueil' %}">Retourner à l'accueil</a></p>
    {% else %}
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input class="sc" type="submit" value="Se connecter" />
        </form>
    {% endif %}
</div>
{% endblock content %}

